.App {
  text-align: center;
}

.card {
  width: 100px;
  height: 150px;
  margin: 30px;
}

.board {
  background-color: green;
  width: 80%;
  margin: 50px auto;
  border-radius: 50%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 20px solid black;
}

@media (max-width: 500px) {
  .card {
    width: 14%;
    height: 100px;
    margin: 10px;
  }
}
