.App {
  text-align: center;
}

.card {
  width: 100px;
  height: 150px;
  margin: 30px;
}

.board {
  background-color: green;
  width: 80%;
  margin: 50px auto;
  border-radius: 50%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 20px solid black;
}

:root {
  --black: #0d0d0d;
  --red: #ff2d2b;
}

.scoreboard {
  width: 90%;
  margin: 0 auto;
  background-color: #0b5402;
  color: white;
  border-radius: 0.5rem;
  padding: 2rem;
  border: 4px solid #aaaaaa;
}

.topRow {
  display: flex;
  justify-content: space-around;
  place-items: center;
  /* height: 20rem; */
}

.home,
.away {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  place-items: center;
  border: 3px solid white;
  border-radius: 0.5rem;
  width: 25rem;
}

.home {
  background-color: #656565;
}

.away {
  background-color: #af750a;
}

.home__name,
.away__name,
.down__title,
.toGo__title,
.ballOn__title,
.quarter__title {
  text-transform: uppercase;
  font-size: 3rem;
  padding: 2rem;
}

.home__score,
.away__score {
  font-family: "Ozone";
  font-size: 7rem;
  width: 90%;
  text-align: center;
  background-color: var(--black);
  color: var(--red);
  padding: 5%;
}

.timer {
  font-family: "Ozone";
  font-size: 9rem;
  padding: 2rem;
  text-align: center;
  background-color: var(--black);
  border: 2px solid white;
  border-radius: 6px;
}

.bottomRow {
  display: flex;
  justify-content: space-around;
  place-items: center;
  height: 20rem;
}

.down,
.toGo,
.ballOn,
.quarter {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  place-items: center;
}

.down__value,
.toGo__value,
.ballOn__value,
.quarter__value {
  font-family: "Ozone";
  font-size: 5rem;
  color: var(--red);
  width: 7rem;
  text-align: center;
  background-color: var(--black);
  margin-top: 1rem;
  border-radius: 4px;
  padding: 1.6rem;
  border: 1px solid white;
}

.buttons {
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.homeButtons__touchdown,
.homeButtons__fieldGoal,
.awayButtons__touchdown,
.awayButtons__fieldGoal {
  margin: 1rem;
  border-radius: 4px;
}

.counter {
  color: yellow;
  font-size: 2rem;
}

.deal {
  margin: 20px auto 0 auto;
  padding: 10px 30px;
  border-radius: 50%;
  font-size: 2rem;
  background: #449fb1;
  border: none;
  color: white;
  font-weight: bold;
}

.deal:hover {
  background: #096a7d;
}

.deal:focus {
  outline: none;
}

.message {
  font-size: 1.8rem;
  font-weight: bold;
  color: greenyellow;
}

.multiplier {
  font-family: 'Ozone';
  color: #25d5e5;
  font-weight: bold;
}

@media (max-width: 500px) {
  .card {
    width: 75%;
    height: 80px;
    margin: 10px;
  }

  .board {
    height: 250px;
    margin: 30px auto;
  }
}
